<div class="container">
    <li><button><a href="pages\about.html" target="home">about</li></a></button>
    <li><button><a href="pages\contact.html" target="home">contact</li></a></button>
    <li><button><a href="pages\members.html" target="home">members</li></a></button>
</div>


<div class="container" alt="menu" id="menu"> container<br>
    <div class="inner-container"> Menu<br>
        <div>
            
        </div>
    </div>
    <div class="inner-container2" alt="links" id="qcklink">
        <a href="home.html">home</a>

    </div>
</div>